/* @import '~antd/dist/antd.dark.css'; */
/* @import '~antd/dist/antd.compact.css'; */

body {
  margin: 0;
  font: 16px/1.6 -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  color:#444;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1c1d26;
}
body::-webkit-scrollbar {
  display: none
}
body::after{
  content: '';
  background-image: url(./11.jpg);
  background-repeat: repeat-y;
  background-size: cover;
  filter: blur(3px);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}

a{
  color:#1890ff;
  text-decoration: none;
}
h1{
  color: #fff;
}
#root{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main{
  flex: 1;
  margin: 50px auto;
  padding: 0 10px;
  width: 100%;
  max-width: 68%;
  
}
.useIcon{
  display: none;
}
@media screen and (max-width: 1440px){ 
  main{
    max-width: 72%;
    }
}
@media screen and (max-width: 1024px) { 
  main{
    max-width: 84%;
    }
}
@media screen and (max-width: 767px) { 
  main{
    max-width: 100%;
    margin: 30px auto;
    padding: 0 10px;
  }
  .useIcon{
    display: inline-block;
  }
  .bottomborder{
    font-size: 1.5em;
  }
}
.ant-descriptions-title{
  color: #1890ff;
}
.bottomborder{
  position: relative;
  padding-bottom: 10px;
}
.bottomborder::after{
  content: '';
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 100%;
  height: 1px;
  background-image: linear-gradient(0deg,#eee 50%, transparent 50%);
}

dt{
  color:rgb(24, 168, 113);
  font-size: 18px;
}

.colbox{
  height: 50px;
  transition: all .3s;
  overflow: hidden;
}
.collapse{
  transition: all .3s;
  padding: 4px 0;
}
.isshow{
  display: none;
}
.collapse *{
  margin: 6px 0;
}
.danger{
  color: #ff4d4f;
}

td.ant-descriptions-item-content{
  background-color: rgba(255,255,255);
}

.list-box{
  border: 1px solid #fff;
  border-radius: 4px;
  padding: 12px 24px;
  background-color: #fff;
}
@media screen and (max-width: 767px) { 
  .list-box{
    padding: 12px 15px;
  }
}
